.wish-product-card {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%);
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 150px;
    width: 70%;
    }
    
    .wish-product-image img {
      z-index: 1;
      height: -webkit-fill-available;
    }
    .wish-product-image{
      width: 15%;
      text-align: center;
    }
    
    .wish-product-info {
      margin-top: auto;
      padding-top: 20px;
      text-align: center;
    }
    
  .saleStamp{
    position: absolute;
    width: 50%;
    
  z-index: 2;
  }
  .change-count {
    align-self: center;
    display: flex;
    width: 15%;
    justify-content: space-around;
}
.active{
  cursor: pointer;
}
.disabled{
  color: gray;
}
